h1 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  animation: pulsate 0.11s ease-in-out infinite alternate;    
  text-align: center;
}

body {
  background-color: black;
}
.topnav a {
  float: left;
  font-family: impact, sans-serif;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #ff0000,
      0 0 80px #ff0000,
      0 0 90px #ff0000,
      0 0 100px #ff0000,
      0 0 150px #ff0000;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #ff0000,
      0 0 73px #ff0000,
      0 0 80px #ff0000,
      0 0 94px #ff0000,
      0 0 140px #ff0000;
  }
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #b30000;
  color: white;
}

